@inject IModalService ModalService
@inject IJSRuntime JsRuntime
@using DropBear.Blazor.Arguments.Events
@using DropBear.Blazor.Interfaces
@using Microsoft.JSInterop
@inherits DropBear.Blazor.Components.Bases.DropBearComponentBase

<div class="@GetModalClasses()" id="@Id" @onclick="CloseModalOnBackdropClick">
    <div class="modal-content" @onclick:stopPropagation>
        <div class="modal-header">
            <h2>@Title</h2>
            <button class="modal-close" @onclick="Close" aria-label="Close modal">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            @BodyContent
        </div>
        <div class="modal-footer">
            @foreach (var button in Buttons)
            {
                <button class="@GetButtonClasses(button.Color)" @onclick="@(async () => await button.OnClick.InvokeAsync(new ModalEventArgs(Id, Title, Theme, IsVisible)))">
                    @if (!string.IsNullOrEmpty(button.Icon))
                    {
                        <i class="@button.Icon"></i>
                    }
                    @button.Text
                </button>
            }
        </div>
    </div>
</div>
